<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Data will be here</h1>

    <table border="1">
       

        <tr>
            <td>Name</td>
            <td>Email</td>
            <td>Age</td>
            <td>Deletion</td>
            <td>Updation</td>
            
        </tr>
<% students.forEach(student => { %>


        <tr>
   <td><%= student.name %></td>
<td><%= student.email %></td>
<td><%= student.age %></td>
<td><a href="/ui/delete/<%= student._id %>">Delete</a></td>
<td><a href="/ui/student/<%= student._id %>">Update</a></td>
</tr>
<% }) %>
    </table>
</body>
</html>